<mat-stepper linear #stepper>
  <mat-step label="Pagar" [editable]="false">
    <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
      <input type="text" formControlName="name" placeholder="Nombbre y apellido">
      <ngx-stripe-card
        [options]="cardOptions"
        [elementsOptions]="elementsOptions"
      ></ngx-stripe-card>
      <button type="submit" mat-button matStepperNext color="primary">
        Siguiente
      </button>
    </form>    
  </mat-step>
  <mat-step label="Resumen" [editable]="false">
      <div>
          <h1>Dato de pago</h1>
          <h3>Nombre: {{booked.name}}</h3>
          <h3>Coste: {{booked.price}}</h3>
          <h3>Código de Reserva: {{booked.locator}}</h3>
      </div>
      <button mat-button (click)="cancel()" matStepperPrevious color="primary">Cancelar</button>
      <button mat-button (click)="confirm()" matStepperNext color="primary">Confirmar</button>
  </mat-step>
  <mat-step label="Resultado" [editable]="false">
    <h1> {{ sucessMessage }} </h1>
  </mat-step>
</mat-stepper>